body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#ffee9d, #e8eddf);
    color: #1c1c1c;
    margin: 20px auto;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 2px #e8eddf;
}

button {
    background: #e8eddf;
    font-family: 'Happy Monkey', bold;
    border: 6px solid #e8eddf;
    padding: 2px 5px;
}

button:hover {
    background: #ffee9d;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #e8eddf;
    margin-bottom: 10px;
}

#bday-age {
    background: #e8eddf;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #f5cb5c;
    border-radius: 10px;
    background-image: url("images/gift-img.jpg");
    background-size: cover;
}